.navbar{
    display: flex;
    justify-content: space-between;
    background-color: blanchedalmond;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
    padding: 10px;
}